// Global Foundation Settings
@import "settings";
@import "normalize";
// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/typography/lists/inline-block-list";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global";
// @import "foundation/components/global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
.intro-header {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color:#212224;
	font-size:8em;
	text-transform: uppercase;
	line-height: 1.1em;
	margin:0;
	padding:0;
}

.intro-1 {
	background:#b0ce4a;
}

.intro-2 {
	background:#f3ca32;
}

.intro-3 {
	background:#17aaaa;
}

.intro-4 {
	background:#cd1d65;
}

.intro-copy {
	background:#fce530;
	padding-top:2em;
	p {
		// color:white;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size:1.75em;
	}
}

.post-titles {
	background:#30415f;
	padding:2em;
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		color:white;
		font-size:4em;
		border-bottom: 1px solid white;
	}
}


.post-date {
color: #ccc;
padding: 0;
margin: 0;
}

.text-content {
color: rgb(224, 224, 224);
}

.navMenu {
	@include inline-block-list;
}

.footer {
	padding: 2em 0;
	background: #222;
	color: white;
	h1 {
		color:white;
	}
}

.top-bar {
	background:#222;
}

.paging {
	background:#30415f;
	padding:2em;
	a {
		color:rgb(211, 216, 82);
	}
}

.twitter,
.facebook,
.reddit,
.stumble {
	padding: 1em 0;
}

.facebook {
	height: 60px;
}

.sharing {
	border-top: 1px solid #f0f0f0;
	padding: 1em;
	margin-top: 3em;
	background: #fad400;
	border-radius: 0 0 3px 3px;
}

.twitter-callout::before {
	background: inline-image('twitter-bird-light-bgs.png') no-repeat;
	background-size: 50%;
}